#feet-animation {
    width: 350px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
}

#single-sensor-container {
    width: 500px;
    margin: 20px auto;
    /* border: 1px solid #d6d6d6; */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);

}

#single-sensor-tabs {
    border-top-left-radius: 3px;
    background-color: #f9f9f9;
    /* padding: 0px 24px; */
    border-bottom: 1px solid #d6d6d6;
}

.single-sensor-tab {
    border-bottom: 1px solid #d6d6d6;
    font-weight: bold;
    padding: 6px;
}

.single-sensor-tab--selected {
    background-color: #119DFF;
    color: white;
}